{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>R4 Group Of Company</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-...." crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" />
  </head>
  <body>
    <div class="container-scroller">
      <div class="row p-0 m-0 proBanner" id="proBanner">
        <div class="col-md-12 p-0 m-0">
          <div class="card-body card-body-padding d-flex align-items-center justify-content-between">
            <div class="ps-lg-1">
               <div class="d-flex align-items-center justify-content-between">
                <p class="mb-0 font-weight-medium me-3 buy-now-text">Free 24/7 customer support, updates, and more with this template!</p>
                <a href="https://www.bootstrapdash.com/product/purple-bootstrap-admin-template/?utm_source=organic&utm_medium=banner&utm_campaign=buynow_demo" target="_blank" class="btn me-2 buy-now-btn border-0">Get Pro</a>
              </div> 
            </div>
           
          </div>
        </div>
      </div>
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="index.html"><img src="{% static 'assets/images/logo.svg' %}" alt="logo" /></a>
          <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{% static 'assets/images/logo-mini.svg' %}" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <div class="search-field d-none d-md-block">
            <form class="d-flex align-items-center h-100" action="#">
              <div class="input-group">
                <div class="input-group-prepend bg-transparent">
                  <i class="input-group-text border-0 mdi mdi-magnify"></i>
                </div>
                <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects">
              </div>
            </form>
          </div>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                {% for i in user_data %}
                {% if i.id == request.session.user_id %}
                  <div class="nav-profile-img">
                    <img src="/media/{{i.photo}}" alt="image">
                    <span class="availability-status online"></span>
                  </div>
                  <div class="nav-profile-text">
                    <p class="mb-1 text-black">{{i.fullname}}</p>
                  </div>
                  {% endif %}
                {% endfor %}
              </a>
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item" href="#">
                  <i class="mdi mdi-cached me-2 text-success"></i> Activity Log </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">
                  <i class="mdi mdi-logout me-2 text-primary"></i> Signout </a>
              </div>
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-email-outline"></i>
                <span class="count-symbol bg-warning"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                <h6 class="p-3 mb-0">Messages</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="assets/images/faces/face4.jpg" alt="image" class="profile-pic">
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Mark send you a message</h6>
                    <p class="text-gray mb-0"> 1 Minutes ago </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="assets/images/faces/face2.jpg" alt="image" class="profile-pic">
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Cregh send you a message</h6>
                    <p class="text-gray mb-0"> 15 Minutes ago </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="assets/images/faces/face3.jpg" alt="image" class="profile-pic">
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Profile picture updated</h6>
                    <p class="text-gray mb-0"> 18 Minutes ago </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <h6 class="p-3 mb-0 text-center">4 new messages</h6>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
                <i class="mdi mdi-bell-outline"></i>
                <span class="count-symbol bg-danger"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                <h6 class="p-3 mb-0">Notifications</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-success">
                      <i class="mdi mdi-calendar"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject font-weight-normal mb-1">Event today</h6>
                    <p class="text-gray ellipsis mb-0"> Just a reminder that you have an event today </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-warning">
                      <i class="mdi mdi-settings"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject font-weight-normal mb-1">Settings</h6>
                    <p class="text-gray ellipsis mb-0"> Update dashboard </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-info">
                      <i class="mdi mdi-link-variant"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject font-weight-normal mb-1">Launch Admin</h6>
                    <p class="text-gray ellipsis mb-0"> New admin wow! </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <h6 class="p-3 mb-0 text-center">See all notifications</h6>
              </div>
            </li>
            <li class="nav-item nav-logout d-none d-lg-block">
              <a class="nav-link" href="#">
                <i class="mdi mdi-power"></i>
              </a>
            </li>
            <li class="nav-item nav-settings d-none d-lg-block">
              <a class="nav-link" href="#">
                <i class="mdi mdi-format-line-spacing"></i>
              </a>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            {% for i in user_data %}
            {% if i.id == request.session.user_id %}
          <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
              <div class="nav-profile-image">
                <img src="/media/{{i.photo}}" alt="profile">
                <span class="login-status online"></span>
                <!--change to offline or busy as needed-->
              </div>
              <div class="nav-profile-text d-flex flex-column">
                <span class="font-weight-bold mb-2">{{i.fullname}}</span>
                <span class="text-secondary text-small">{{i.role_id.name}}</span>
              </div>
              <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
          </li>
            {% endif %}
        {% endfor %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Organization</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="{% url 'roleoutput' %}">Role</a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'departmentoutput' %}">Department</a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'designationoutput' %}">Designation</a></li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Employees</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="{% url 'employeeoutput' %}">Employee</a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'diciplinaryoutput' %}">disciplinary</a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'inactiveuser' %}">Inactive User</a></li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'attendance_view' %}">
                <span class="menu-title">Attendance</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'attendance_list' %}">
                <span class="menu-title">Attendance View</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'leave_list' %}">
                <span class="menu-title">Leave</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'performance_list' %}">
                <span class="menu-title">Performance</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
           
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
           

              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Employee Update Data Form</h4>
                    <p class="card-description"> Update Employee Data</p>
                    <form class="forms-sample" action="{% url 'employeeview_update' %}" method ="POST" enctype="multipart/form-data">
                      {% csrf_token %}

                      <input type="hidden" name="id" value="{{emp_data.id}}" id=""><br><br>

                      <div class="form-group">
                        <label for="username">User Name</label>
                        <input type="text" class="form-control" id="username" name = "username" value="{{emp_data.username}}" placeholder="User Name">
                      </div>
                      <div class="form-group">
                        <label for="firstname">First Name</label>
                        <input type="text" class="form-control" id="firstname" name = "firstname" value="{{emp_data.firstname}}" placeholder="First Name">
                      </div>
                      <div class="form-group">
                        <label for="lastname">Last Name</label>
                        <input type="text" class="form-control" id="lastname" name = "lastname" value="{{emp_data.lastname}}"  placeholder="Last Name">
                      </div>
                      <div class="form-group">
                        <label for="emp_id">Employee ID</label>
                        <input type="text" class="form-control" id="emp_id" name = "emp_id"  value="{{emp_data.emp_id}}"  placeholder="Employee ID">
                      </div>

                      <div class="form-group">
                        <label for="role_id">Select Role</label>
                        {% if emp_data.role_id is not None %}
                        <select class="form-control form-control-sm role_id" id="role_id" name="role_id">
                            {% for role in all_roles %}
                            <option value="{{ role.id }}" {% if emp_data.role_id.id == role.id %}selected{% endif %}>{{ role.name }}</option>
                            {% endfor %}
                        </select>
                        {% endif %}
                    </div>

                      <div class="form-group">
                        <label for="department_id">Select Department</label>
                        {% if emp_data.department_id is not None %}
                          <select class="form-control form-control-sm" id="department_id" class="department_id" name="department_id" >
                            <option value="{{ emp_data.department_id }}">{{ emp_data.department_id.name }}</option>
                            {% for department in all_department %}
                            <option value="{{ department.id }}" {% if emp_data.department_id.id == department.id %}selected{% endif %}>{{ department.name }}</option>
                            {% endfor %}
                          </select>	
                          {% endif %}
                      </div>
                    
                      <div class="form-group">
                        <label for="designation_id">Select Designation</label>
                        {% if emp_data.designation_id is not None %}
                          <select class="form-control form-control-sm" id="designation_id" class="designation_id" name="designation_id" >
                            <option value="{{ emp_data.designation_id }}">{{ emp_data.designation_id.name }}</option>
                            {% for designation in all_designation %}
                            <option value="{{ designation.id }}" {% if emp_data.designation_id.id == designation.id %}selected{% endif %}>{{ designation.name }}</option>
                            {% endfor %}
                          </select>	
                          {% endif %}
                      </div>

                      <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name = "email" value = "{{emp_data.email}}" placeholder="Email">
                      </div>

                      <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="text" class="form-control" id="phone" name = "phone" value = "{{emp_data.phone}}" placeholder="Phone Number">
                      </div>

                      <div class="form-group">
                        <label for="dob">Date of Birth</label>
                        <input type="date" class="form-control" id="dob" name = "dob" value="{{ emp_data.dob|date:'Y-m-d'}}" placeholder="Date of Birth">
                      </div>

                      <div class="form-group">
                        <label for="nid">NID Number</label>
                        <input type="text" class="form-control" id="nid" name = "nid" value="{{ emp_data.nid}}" placeholder="NID Number">
                      </div>

                     
                      <div class="form-group">
                        <label for="gender">Gender</label>
                        {% if emp_data.gender %}
                        <select class="form-control" id="gender" class="gender" name = "gender">
                          <option value="Select Gender">Select Gender</option>
                          <option value="Male" {% if emp_data.gender == "Male" %} selected {% endif %}>Male</option>
                          <option value="Female" {% if emp_data.gender == "Female" %} selected {% endif %}>Female</option>
                          <option value="Others" {% if emp_data.gender == "Others" %} selected {% endif %}>Others</option>
                        </select>
                        {% else %}
                        <select name="gender">
                        {% for item in emp_data.gender %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                        </select>
                        {% endif %}
                      </div>

                      <div class="form-group">
                        <label for="blood_group">Blood Group</label>
                        {% if emp_data.blood_group %}
                        <select class="form-control" id="blood_group" name = "blood_group">
                          <option value="Select Gender">Select Gender</option>
                          <option value="A+" {% if emp_data.blood_group == "A+" %} selected {% endif %}>A+</option>
                          <option value="A-" {% if emp_data.blood_group == "A-" %} selected {% endif %}>A-</option>
                          <option value="B+" {% if emp_data.blood_group == "B+" %} selected {% endif %}>B+</option>
                          <option value="B-" {% if emp_data.blood_group == "B-" %} selected {% endif %}>B-</option>
                          <option value="AB+" {% if emp_data.blood_group == "AB+" %} selected {% endif %}>AB+</option>
                          <option value="AB-" {% if emp_data.blood_group == "AB-" %} selected {% endif %}>AB-</option>
                          <option value="O+" {% if emp_data.blood_group == "O+" %} selected {% endif %}>O+</option>
                          <option value="O-" {% if emp_data.blood_group == "O-" %} selected {% endif %}>O-</option>
                        </select>

                        {% else %}
                        <select name="blood_group">
                        {% for item in emp_data.blood_group %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                        </select>
                        {% endif %}
                      </div>

                      <div class="form-group">
                        <label for="emp_status">Employee Status</label>
                        {% if emp_data.emp_status %}
                        <select class="form-control" id="emp_status" class="emp_status" name = "emp_status">
                          <option value="Select Employee Status">Select Employee Status</option>
                          <option value="Active" {% if emp_data.emp_status == "Active" %} selected {% endif %}>Active</option>
                          <option value="Inactive" {% if emp_data.emp_status == "Inactive" %} selected {% endif %}>Inactive</option>
                        </select>
                        {% else %}
                        <select name="emp_status">
                        {% for item in emp_data.emp_status %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                        </select>
                        {% endif %}
                      </div>


                      <div class="form-group">
                        <label for="joining_date">Joining Date</label>
                        <input type="date" class="form-control" id="joining_date" name = "joining_date" value="{{ emp_data.joining_date|date:'Y-m-d'}}" placeholder="Joining Date">
                      </div>

                      <div class="form-group">
                        <label for="ending_date">Ending Date</label>
                        <input type="date" class="form-control" id="ending_date" name = "ending_date" value="{{ emp_data.ending_date|date:'Y-m-d'}}" placeholder="Ending Date">
                      </div>

                      <div class="form-group">
                        <label for="address">Full Address</label>
                        <textarea type= "text" class="form-control" id="address" name ="address" rows="4">{{ emp_data.address}}</textarea>
                      </div>

                      <div class="form-group">
                        <input type="file" name="photo" id="fileupload" value="{{ emp_data.photo.url }}" class="file-upload-default"  multiple>
                          <div class="input-group col-xs-12">
                            {% if emp_data.photo %}
                                <img src="{{ emp_data.photo.url }}" alt="{{ emp_data.photo.name }}" style="height: 100px; width:100px;"><br>
                            {% endif %}
                              <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                              <span class="input-group-append">
                                <button class="file-upload-browse btn btn-gradient-primary" type="button"> <label for="fileupload">Photo upload</label></button>
                              </span>
                          </div>
                      </div>
      
                      {% comment %} <div class="mt-4">
                        <input type="submit" class="btn btn-block btn-lg btn-gradient-primary mt-4" value = "SIGN UP">
                       
                      </div> {% endcomment %}
                      
                      <button type="submit" value = "submit" class="btn btn-gradient-primary me-2">Update Employee Data</button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-12">
          </div>

          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid d-flex justify-content-between">
              <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © bootstrapdash.com 2021</span>
              <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin template</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->

        {% comment %} <div class="col-lg-12 grid-margin stretch-card">
          {%if status %}
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Role Output Table</h4>
              <p class="card-description"> role Class <code>.table-striped</code>
              </p>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Sl No </th>
                    <th>Role </th>
                    <th> Action </th>
                  </tr>
                </thead>
                <tbody>
                {% for i in role_data %}
                  <tr>
                    <td>{{forloop.counter}}</td>
										<td>{{i.name}}</td>
                    <td>
                      <a href="{% url 'edit_role' i.id %}"  class="edit-link" style="color: green;"> <i class="fas fa-edit"></i> Edit</a>
                      <a href="{% url 'delete_role' i.id %}" class="delete-link" style="color: red;"><i class="fas fa-trash-alt"></i> Delete</a>
                    </td>
                    
                  </tr>
                 {%endfor%}
                </tbody>
              </table>
            </div>
          </div>
          {% endif %}
        </div> {% endcomment %}



      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'assets/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.cookie.js' %}" type="text/javascript"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'assets/js/off-canvas.js' %}"></script>
    <script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'assets/js/misc.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    <script src="{% static 'assets/js/todolist.js' %}"></script>
    <!-- End custom js for this page -->
  </body>
</html>