{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>R4 Group of Company</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" />
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
          <div class="row flex-grow">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left p-5">
                <div class="brand-logo">
                  <img src="{% static 'assets/images/logo.svg' %}">
                </div>
                <h4>Update Here?</h4>
                {% comment %} {% if msg %}
										{% for i in msg %}
										<div class="alert alert-success">	
										<h4 class="card-title">{{i}}</h4>
										{% endfor %}
									{% endif %} {% endcomment %}
                <h6 class="font-weight-light">User Update is easy. It only takes a few steps</h6>
                <form class="pt-3" action="{% url 'update_user' %}" id="signup_form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <input type="hidden" name="id" value="{{user_data.id}}" id=""><br><br>

                  <div class="form-group">
                    <label for="exampleFormControlSelect3">Role</label>

                   {% if user_data.role_id %}
                      <select class="form-control form-control-sm" id="exampleFormControlSelect3" class="role_id" name="role_id" >
                        {% comment %} <option value="Select role">Select Role</option> {% endcomment %}
                        <option value="{{ user_data.role_id.id }}">{{ user_data.role_id.name }}</option>
												{% for role in all_roles %}
													<option value="{{ role.id }}">{{ role.name }}</option>
												{% endfor %}
                      </select>	
                   {% endif %}
                    
                  </div>
             

                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="exampleInputfullname" name= "fullname" value= "{{user_data.fullname}}" placeholder="fullname">
                  </div>

                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="exampleInputUsername1" name= "username" value= "{{user_data.username}}" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" name= "email" value= "{{user_data.email}}" placeholder="Email">
                  </div>
                  
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="phone" name= "phone" value= "{{user_data.phone}}" placeholder="phone number">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-lg" id="password" name= "password" value= "{{user_data.password}}" placeholder="Password">
                  </div>

                  <div class="form-group">
                    {% if user_data.photo %}
                      <img src="{{ user_data.photo.url }}" alt="{{ user_data.photo.name }}" style="height: 100px; width:100px;"><br>
                    {% endif %}
                  <input type="file" name="photo" value="{{user_data.photo.url}}" id="fileupload" class="file-upload-default"  multiple>
                    <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-gradient-primary" type="button"> <label for="fileupload">Photo upload</label></button>
                          
                        </span>
                    </div>
                </div>

                  {% comment %} <div class="mb-4">
                    <div class="form-check">
                      <label class="form-check-label text-muted">
                        <input type="checkbox" class="form-check-input"> I agree to all Terms & Conditions </label>
                    </div>
                  </div> {% endcomment %}

                  <div class="mt-4">
                    <input type="submit" class="btn btn-block btn-lg btn-gradient-primary mt-4" value = "Update Data">
                   
                  </div>
                  {% comment %} <div class="text-center mt-4 font-weight-light"> Already have an account? <a href="login.html" class="text-primary">Login</a>
                  </div> {% endcomment %}
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'assets/js/off-canvas.js' %}"></script>
    <script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'assets/js/misc.js' %}"></script>
    <!-- endinject -->
  </body>
</html>